<h2>Using Stripe Simple Checkout</h2>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<%= form_tag charge_index_path, method: :post do %>
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_m0YfcO3Hx9fx6Tge9QwcI8T8"
    data-image="http://www.sci.ccny.cuny.edu/LiLab/pretty%20wormys/CCNY_logo.gif"
    data-name="Stripe Demo"
    data-description="Stuff"
    data-amount="2000">
  </script>
<% end %>

<%= link_to 'See Custom', custom_url %>
